*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  background-color: white;
}

html {
  font-size: 62.5%;

  // @include respond(tablet) {
  //   font-size: 56.25%;
  // }
}

body {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 8rem 0;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 114rem;
  height: 100%;

  // @include respond(xs) {
  //   padding: 0 2rem;
  // }
}
